body{
	background: #212529 !important;
	color: white !important;
	 
}

h1{
	color: white;
}
th, td{
	border: 2px solid grey;
}

.table{
	width: 50%;
	margin-top: 3%;
	font-size: 22px;
	text-align: center;
}

.red {
    background-color : red; 
}

.green {
    background-color: green;
}
