body{
	background: #212529 !important;
	color: white !important;
	font-family: 'Muli', sans-serif;
}

h1{
	font-size: 3vw;
}
.table{
	max-width: 100%;
	margin-top: 3%;
	font-size: 3vw;
	text-align: center;
}
td{
	background: #212529;
		/*border: 2px solid #a9a9a9;*/

}

th{
	background: #0c0c0c;
	/*border: 2px solid #a9a9a9;*/
	font-size: 3vw;
}

.red {
	background-color : red; 
}

.green {
	background-color: green;
}
