#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-width: 100%;
  overflow: auto;
  border: 2px solid #285797;
  font-size: 1.5em;
}

h1 {
	font-family: "Arial Black";
	font-weight: bold;
	color: #285797;
}

body {
	background: #D4D8E6;
}
.row {
	color: #285797;
}

form {
	margin-top: 40px;
}

p {
	
	padding-top: 5px;
}
.btn {
	margin-top: 10px;
}